<h1>Welcome to BorzoniBook.com, <%= @user.username %></h1>
<p>
  You have successfully signed up for BorzoniBook, congratulations!
</p>
<p>
  To login to the site, just follow this link: <%= new_user_session_url %>
</p>
<p>Thanks for joining and have a great day!</p>