<!-- app/views/posts/_like_button.html.erb -->
<div class="flex items-center space-x-1">
  <% if post.liked_by?(current_user) %>
    <%= button_to post_like_path(post, post.likes.find_by(user: current_user)), 
                  method: :delete,
                  class: "flex items-center space-x-1 text-red-500" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="w-5 h-5">
        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
      </svg>
      <span><%= post.likes.count %></span>
    <% end %>
  <% else %>
    <%= button_to post_likes_path(post), 
                  class: "flex items-center space-x-1 text-gray-500 hover:text-red-500" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
      </svg>
      <span><%= post.likes.count %></span>
    <% end %>
  <% end %>
</div>